.about-me {
    margin-top: 4rem;

    &__img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    }

    &__content {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            flex-wrap: wrap;
        }

        .about-me__img-container {
            flex: 0 1 40rem;
            padding-right: 3rem;
            padding-bottom: 2rem;
            margin: 0 auto;
        }

        .about-me__text-content {
            flex: 0 1 60rem;
            margin: 0 auto;
        }
    }

    &__links {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}