.gallery {
	padding-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;

	&__item {
		flex: 0 0 24rem;
		max-width: 24rem;
		/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
		margin: 1rem;
		box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}

	&__image {
		display: block;
		width: 100%;
		height: 26rem;
		object-fit: cover;
		transition: all 400ms ease-out;
		cursor: pointer;
	}

	&__image:hover {
		filter: brightness(80%);
	}

	&__description {

		display: flex;
		align-items: center;
		justify-content: space-around;

		.gallery__icon {
			height: 4rem;
			width: 4rem;
			margin: 1rem 0;
			cursor: pointer;
		}

		.gallery__github-link {
			display: flex;
			align-items: center;
			height: 4rem;
			width: 4rem;
			margin: 1rem 0;
			
			transition: transform .3s;
		}

		.gallery__github-link:hover {
			transform: scale(1.1);
		}
	}
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}