.work {

  &__container {
    flex: 0 1 60rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 8em;

    @include respond(phone) {
      margin-bottom: 10em;
    }
  }

  &__img-main {
    position: relative;
    width: 80%;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    border: 2px solid white;
  }
  
  &__img-secondary {
    position: absolute;
    top: 48%;
    left: 27%;
    width: 60%;
    border: 2px solid white;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  }


}

