.container {
    max-width: 120rem;
    padding: 2rem 5rem;
    
    @include respond(phone) {
        padding: 2rem 1.8rem;
    }
}

footer {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
    height: auto;
}